

.body {}

.header {}

.nav {
    text-transform: uppercase;
}

.nav__logo {
    height: 3rem;
    width: 15.8rem;
    fill: #4a4949;
}

.nav__menu {}

.nav__menu-item{
    text-transform: uppercase
}

.header__logo {}

